body {
  background-color: rgb(226, 75, 75);
}

#mainTitle{
    align-items: center;
    justify-content: center;
    display: flex;
}

#runningPicture {
    display: block;
    margin: 0 auto; /* Centers it left and right */
    max-width: 50%; /* Your size choice */
    height: auto;
}